@import '../../styles/variables';

.sharkTank {
  background-color: $sharkTankBlue;
  height: 83em;
  border-radius: 5px;

  .card-deck{
    .col-4 {
      .card{
        border-radius: 10em;
        background-color: $beige;
      }
    }
  }
}